<!DOCTYPE html>
<html>
  <head>
    <title>Node Study</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>failed</p>
    <p><%= JSON.stringify(postParams) %></p>
  </body>
</html>
