<%include _header.ejs%>
<div class="content">
	<h4 class="t_center">17.04.16</h4>
	<ul class="t_left">
		<li>회원 로그인</li>
		<li>마이페이지 (정보수정)</li>
		<li>Promise</li>
	</ul>
</div>
<%include _footer.ejs%>
