div.confirm{position:relative;display: inline-block;}
.btn_show{position: absolute;top: 10%;right: 10px;color: #BBB;cursor:pointer;}
.confirm input{width: 170px;height: 20px;border-radius: 5px;border: 1px solid #EEE;padding:1px 5px;}
.inline{display:inline-block;}
.inline button{height: 23px;border: 1px solid #EEE;background-color: #fff;border-radius: 5px;width: 30px;}


section.main{float:left;width:100%;}
.main .content{padding:0px;}
.left_menu{float:left;width:15%;height:100%;}
.content{float:left;width:85%;}
.left_menu ul{list-style:none; margin:0px;height:100%;padding:0px;}


.calendar td{padding:10px;height:50px;position:relative;vertical-align: top;}
.calendar td span.date{display:block;}
.calendar td.Sat span.date{color:#616ed8;}
.calendar td.Sun span.date{color:#f14f3b;}