<%include ../_header.ejs%>

<link rel="stylesheet" type="text/css" href="/stylesheets/auth.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/mypage.css">
<%include ./left.ejs%>

<div class="content">
	<h4 style="margin:0px 0px 10px 0px;">회원 정보수정</h4>	
	<div class="login_modal t_center">
		<form name="modiFrm" method="post" onsubmit="return chkFrm(this)">
			<table class="tb">
				<tr>
					<th>아이디</th>
					<td class="t_left"><%=usr.id%></td>
				</tr><tr>
					<th>비밀번호</th>
					<td>
						<input type="password" name="pwd" id="login_pwd" >
						<span class="btn_show" _target="#login_pwd"><i class="fa fa-eye" aria-hidden="true"></i></span>
					</td>
					<td>
						<label><input type="checkbox" name="changepwd" value="Y">변경</label>
					</td>
				</tr><tr>
					<th>이름</th>
					<td><input type="text" name="name" value="<%=usr.name%>"></td>
				</tr><tr>
					<th>생일</th>
					<td><input type="date" name="birth" value="<%=usr.birth%>"></td>
				</tr><tr>
					<td colspan='2'>
						<input type="hidden" name="seq" value="<%=userdata.usernum%>">
						<input type="submit" value="수정">
					</td>
				</tr>
			</table>
		</form>	
	</div>
</div>
<script>
	function chkFrm(f){
		console.log($(f).serialize());
		//return false;
	}
</script>
<%include ../_footer.ejs%>
